nav.navbar.navbar-expand-lg.navbar-green.bg-dark
  .container-fluid
    a.navbar-brand(href='#') MenuPrincipal
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      .navbar-nav
        a.nav-link(href='/informaciones') Informaciones   
            i.fas.fa-terminal
      .navbar-nav.ml-auto
        a.nav-link(href='/database/login') 
          i.fas.fa-sign-in-alt

          span.pl-1 Base De Datos