doctype
html(lang='en')
head
    include includes/header2.pug
    link(rel='stylesheet', href='/css/index.css')
body
    include includes/navbar2.pug
    .jumbotron.text-center.bg-transparent
        h1.display-3 #{Oficial}
        p.lead ¿Quienes Somos? 
            i.fas.fa-medal
        button.btn.btn-success(href='/discord') Discord